@font-face {
	font-family: "my-font";
	src: url(".././NeueMachina-Regular (1).woff2");
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	color: white;
}

main {
	min-height: 100%;
	min-width: 100%;
	background-color: black;
}
#first {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 200px;
	background-color: pink;
}
#first h1 {
	font-size: 90px;
	text-transform: uppercase;
	font-family: my-font;
}
#first p {
	font-size: 30px;
	text-transform: capitalize;
	font-style: italic;
}
